* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container_principal {
    background-color: rgb(33, 34, 34);
    background: linear-gradient(rgb(69, 69, 71), rgb(22, 31, 32));

}

.cabecario {
    padding-top: 3em;
    text-align: center;
}

.titulo_principal {
    color: white;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video {
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
}

iframe {
    border-radius: 8px;
}

.footer {
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 8em;
    padding: 2em;
}